.scrollbar {
  &.horizontally-scrollable .horizontal-scrollbar-track {
    visibility: visible;
    pointer-events: auto;
  }

  .horizontal-scrollbar-track {
    position: absolute;
    height: 12px;
    width: 100%;
    bottom: 0;
    left: 0;

    .scrollbar-thumb {
      --thumb-width: max(calc((var(--scrollable-horizontal-ratio, 1) * 100%)), var(--scrollable-min-thumb-length, 30px));
      bottom: 0;
      box-sizing: border-box;
      left: calc(var(--scrollable-scroll-left, 0) * (100% - var(--thumb-width)));
      width: var(--thumb-width);

      .scrollbar-thumb-inner {
        height: 6px;
        width: 100%;
      }
    }
  }
}
