{
  "branches": [
    {"name": "master"},
    {"name": "beta", "prerelease": true},
    {"name": "preserve-modules", "prerelease": true},
    {"name":  "1.x", "range": "1.x", "channel": "1.x", "prerelease": true}
  ]
}