version: 2.1

orbs:
  node: circleci/node@1.1.6

jobs:

  lint:
    executor:
      name: node/default
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: npm install
            - run: npm run lint

  test:
    executor:
      name: node/default
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: npm install
            - run: npm test
      - store_test_results:
          path: test-results

workflows:
    build-and-test:
      jobs:
        - lint
        - test