.movable {
  touch-action: none; // Needed when calling preventDefault() on touch events, see https://stackoverflow.com/a/42288386/1096470
  user-select: none; // For preventing user selection when moving
}
