.{{PREFIX}}poppable {
  &.vafter .{{PREFIX}}poppable-triangle {
    border-bottom-color: var(--triangle-color, black);
  }

  &.vbefore .{{PREFIX}}poppable-triangle {
    border-top-color: var(--triangle-color, black);
  }

  &.hbefore .{{PREFIX}}poppable-triangle {
    border-left-color: var(--triangle-color, black);
  }

  &.hafter .{{PREFIX}}poppable-triangle {
    border-right-color: var(--triangle-color, black);
  }

  &-triangle {
    position: fixed;
    border-style: solid;
    border-color: transparent;
    pointer-events: none;
  }
}
