.scrollable {
  --scrollable-track-thickness: 12px;
  --scrollable-thumb-thickness: Calc(var(--scrollable-track-thickness)/2);
  --scrollable-thumb-offset: 3px;
  --scrollable-thumb-color: silver;

  position: relative;
  max-height: 100%;
  max-width: 100%;
  display: flex;

  &:hover > .scrollbar-track .scrollbar-thumb .scrollbar-thumb-inner {
    opacity: 1;
    transition-delay: 0s;
  }

  .scrollable-inner {
    position: relative;
    overflow: auto;
    flex: 1;
    -ms-overflow-style: none;  // IE 10+
    /* stylelint-disable */
    scrollbar-width: none; // Firefox

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      background: transparent;
    }
  }

  .scrollbar-track {
    visibility: hidden;
    pointer-events: none;

    .scrollbar-thumb {
      position: absolute;
      cursor: pointer;

      .scrollbar-thumb-inner {
        background-color: var(--scrollable-thumb-color);
      }
    }
  }
}
